@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Overpass:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}
.center-text {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-Dark-Blue);
}

.card {
  background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  width: 360px;
  height: 360px;
  border-radius: 2rem;
  box-shadow: rgba(53, 52, 52, 0.25) 3px 1px 8px;
}
.card-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.massage-card {
  display: flex;
  align-items: center;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  background-color: hsl(213, 19%, 18%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.text {
  text-align: start;
}
.text h2 {
  color: var(--White);
  margin-bottom: 5px;
}
.text p {
  color: var(--Light-Grey);
}
.select-items {
  display: flex;
  justify-content: space-between;
}
.item {
  list-style-type: none;
  display: flex;
  background-color: var(--Dark-Blue);
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--Medium-Grey);
  cursor: pointer;
}
.item:hover {
  background-color: hsl(25, 97%, 53%);
  color: var(--White);
}
.btn {
  background-color: hsl(25, 97%, 53%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  border-radius: 2rem;
  text-decoration: none;
  border: none;
  color: var(--White);
}
.btn:hover {
  background-color: var(--White);
  color: hsl(25, 97%, 53%);
}
.resault {
  background-color: var(--Dark-Blue);
  padding: 10px;
  border-radius: 2rem;
  color: hsl(25, 97%, 53%);
}
.disabled {
  pointer-events: none;
}
.selected {
  background-color: var(--Light-Grey);
  color: var(--White);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
